body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0; 
    text-align: center; 
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
main {
    width: 250px;
    height: 400px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
img {
    width: 220px;
    height: 230px;
    border-radius: 10px;
}
.main-skill {
    font-size: 20px;
    font-weight: 700;
    color: black;
}
p {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}