body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0; 
    text-align: center; 
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
main {
    width: 280px;
    height: 420px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.main-skill {
    padding-inline: 25px;
    font-size: 20px;
    font-weight: 700;
}
p {
    padding-inline: 20px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.attribution {
    margin-top: 50px;
    font-size: 14px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}